
body{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
}







body {
  background-color: rgb(10, 180, 222);
}



div {
  width: 50%;
  margin: 0 auto 1em auto; 
  text-align: center;      
}

h1 {
  display: block;
  position: fixed;
  top: 1;
  width: 100%;
}


table{
  background: linear-gradient(to right, lightblue, white);
}



