
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  background-image: url('https://background-tiles.com/overview/blue/patterns/large/1064.png');
  background-repeat: repeat;
  background-color: rgb(10, 180, 222);
  cursor: url('https://github.com/csaea/html-css-lessons/blob/main/welcome-to-1999/cursor.png?raw=true') 16 16, auto;
  padding: 20px;
  margin: 0;
  border: 5px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}



/* I looked up how to make cool transitions*/
body {
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

body:hover {
  transform: scale(1.01);
}


