body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 213, 90);
  text-align: center;
}
body {
  background-color: rgb(10, 222, 41);
}

header {
  background: linear-gradient(to right, lightblue, white);
}